#######################################################
# @desc Mỗi lần khởi tạo đối tượng log đều đọc lại tệp này
#######################################################

###### Cấu hình cho thuộc tính class ######
start_point|static

# Số phiên bản log
nlog|10

# Không làm gì (không ghi log cũng không đẩy lên màn hình)
noLog|0

# Đẩy lên màn hình hay ghi log
isEcho|0

## Ghi ở đâu
# Khởi tạo tệp ghi log
logFilePath|
# Chỉ khởi tạo tên tệp, còn đường dẫn dùng chung
logFileName|

# Có hiển thị đường dẫn tệp log hay không
showLogPath|0

# Mặc định mode ghi log là gì
mode|a

## Ghi ra cái gì
# Thuộc tính phân tách giữa những văn bản (mỗi văn bản đại diện mỗi biến)
PHP|separate|PHP_EOL
# Có ngày tháng hay không
hasDatetime|1

###### Cấu hình cho thuộc tính đối tượng ######
start_point|object

# Thuộc tính author của đối tượng
author|vinhnv@live.com